GOOGLE_CLIENT_ID= # get from https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET= # get from https://console.cloud.google.com/apis/credentials
SECRET_KEY= # random
OAUTH_REDIRECT_URI="http://localhost/auth/callback" # set for whatever host you're using
DEBUG="FALSE"

CERTBOT_EMAIL=just-an-email@example.com
DOMAIN=idems # Should be the same as the oauth but without http:// or the /auth/callback
USE_LOCAL_CA=1 # should be 1 for testing, 0 for prod

NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_DB_PASSWORD=
NEXTCLOUD_DB_ROOT_PASSWORD=
NEXTCLOUD_APP_PASSWORD=
